@import "animations.css";
body {
  padding: 0;
  margin: 0;
  position: fixed;
}
form {
  /* border: 1px solid red; */
  display: inline-block;
  width: 300px;
}
input[type=text], input[type=number] {
  width: calc(100% - 10px);
  height: 40px;
  margin: 10px 0;
  margin-left: 10px;
  border-radius: 2px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  padding: 5px;
}

input[type=number]{
  width: 60px;
  letter-spacing: 1px;
}

input[type=button] {
  cursor: pointer;
  margin: 10px;
}
.button-container {
  width: 100%;
}
button {
  margin: 10px;
}

.error-field{
  border: 1px solid red;
  background-color: pink;
}

.new_b, .los_b{
  position: fixed;
  top: 20px;

  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;

  color: white;
  border-radius: 2px;
  letter-spacing: 1px;
}

.new_b{
  right: calc(50vw + 20px);
  background-color: #0068df;
  z-index: 100;
}

.los_b{
  right: 10px;
  background-color: crimson;
  display: none;
}

.entry-list {
  margin: 10px 0;
  width: 50vw;
  box-sizing: border-box;
  padding: 40px 10px;
  max-width: 860px;
  /* position: fixed; */
}
.entry-list ol {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}
.entry-list > li {
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin-bottom: 10px;
  color: #333;
  padding: 10px;
}
.entry-list > li:hover button {
  color: black;
}
.entry-list button {
  border: none;
  color: #bbb;
  background-color: white;
  float: right;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  font-style: italic;
  transition: all 0.25s;
  margin: 0;
}
.entry-title {
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
}
.entry-title h3{
    margin: 0 2px;
}

h1,
h3,
h4 {
  /* font-family: 'Raleway', sans-serif; */
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}
h3 {
  font-size: 14px;
  margin: 0;
}
h4 {
  font-size: 12px;
}
h1 {
  padding-left: 20px;
}
.no-objects {
  margin-left: 20px;
  color: #bbb;
  font-style: italic;
}
.entry-editor {
  position: fixed;
  width: 50vw;
  height: 100vh;
  top: 0;
  left: 50vw;
  box-sizing: border-box;
  background-color: #444;
  color: white;
  padding: 0;
  overflow-y: scroll;
}
.editor-map-container {
  width: 100%;
  height: 200px;
  background-color: #777;
  color: white;
  margin: 0;
  box-sizing: border-box;
  padding-top: 20px;
}
.editor-map-container h1 {
  margin: 0;
}
.editor-input-container h3 {
  margin: 10px;
  color: #bbb;
}
.editor-input-container input[type=text] {
  width: 280px;
  border: none;
}
.editor-input-container input[type=text]:disabled, input[type=number]:disabled {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #bbb;
}
.editor-input-container button {
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  padding: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.editor-input-container button:disabled {
  opacity: 0.5;
  cursor: initial;
}
.editor-object-container {
  width: 280px;
}
.add-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: royalblue;
  color: white;
}
.del-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: crimson;
  color: white;
}
.end-button {
  float: right;
  background-color: #64a304;
  color: white;
  border-radius: 2px;
  margin-right: 20px;
  letter-spacing: 1px;
}

.cancel-button {
  float: right;
  background-color: #f51313;
  color: white;
  border-radius: 2px;
  margin-right: 20px;
  letter-spacing: 1px;
}
.extra-space {
  width: 100%;
  height: 200px;
}

.page-interaction-container{
    position: absolute;
    top: 60px;
    background-color: white;
    height: 45px;
    width: 50vw;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 100;
}

.page-interaction-container h3{
    margin: 0 50px;
    margin-top: 15px;
    font-size: 16px;
    color: #555;
}
.page-interaction-container button{
    border: none;
    padding: 5px 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #444;
}